* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  background: #46468a;
}

section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#f0f));
  background: linear-gradient(#f00, #f0f);
  -webkit-clip-path: circle(30% at right 80%);
          clip-path: circle(30% at right 80%);
}

section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#29ac8b), to(#0446fc));
  background: linear-gradient(#29ac8b, #0446fc);
  -webkit-clip-path: circle(20% at 0 10%);
          clip-path: circle(20% at 0 10%);
}

.container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.container .card:hover .content {
  opacity: 1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.container .card:hover .sci li {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.container .card .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .45;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .card .content .imgbox {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.3);
}

.container .card .content .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .card .content .contentbox h3 {
  color: #fff;
  margin: 20px 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.container .card .content .contentbox h3 span {
  font-size: 15px;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 1px;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .card .sci li {
  list-style-type: none;
  margin: 0 20px;
  margin-top: 10px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc(0.15s * var(--i));
          transition-delay: calc(0.15s * var(--i));
}

.container .card .sci li a {
  color: #fff;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */